body, html {
    font-size: 20px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: #070707;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0px;
}

/*NAV MENU ITEM AND LINK*/
ul.menu li{
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    margin: 0px;
}

ul.menu li.menu-item:first-of-type {
    margin-left: 0rem;
}

ul.menu li.menu-item {
    margin-left: 2rem;
}

ul.menu li.menu-item a {
    color: #070707;
    text-decoration: none;
}

ul.menu li.menu-item a:visited {
    color: #070707;
    text-decoration: none;
}

ul.menu li.menu-item a:active {
    color: #070707;
    text-decoration: none;
}

ul.menu li.menu-item a:hover {
    color: #ED7D3A;
    text-decoration: none;
}


/* HELPERS */

.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex.row.middle {
    align-items: center;
}


/* ESTRUTURA */
#wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: 4.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    /*background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);*/
}

.content {
    padding: 0 10%;
    margin: 0 auto;
}


/* FONT FAMILIES 
font-family: 'Bree Serif', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

#sobre {
    border: 1px solid red;
        
    backdrop-filter: blur(10px);
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #header {
        background-image: url(../imgs/header.png);
        min-height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        background-attachment: fixed;
        width: 100vw;
    }

    #header h1 {
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        width: 550px;
        font-size: 2rem;
        margin: 25% auto;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        text-align: center;
    }

    #header h1 strong {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        color: #ED7D3A;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* SECTIONS */
    #header {
        background-image: url(../imgs/header.png);
        min-height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
        background-attachment: fixed;
        width: 100vw;
    }

    #header h1 {
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        width: 550px;
        font-size: 2rem;
        margin: 25% auto;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        text-align: center;
    }

    #header h1 strong {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        color: #ED7D3A;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* SECTIONS */
#header {
    background-image: url(../imgs/header.png);
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    background-attachment: fixed;
    width: 100vw;
}

#header h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    width: 550px;
    font-size: 2rem;
    padding: 0.5rem;
    margin: 20vh 0px 25% 4rem;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    text-align: left;
}

#header h1 strong {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #ED7D3A;

}
} 